<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Target Material Design Bootstrap Admin Template</title>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="assets/materialize/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/js/Lightweight-Chart/cssCharts.css"> 
=========
    <link rel="stylesheet" href="assets/js/Lightweight-Chart/cssCharts.css"> 
    <link rel="stylesheet" href="assets/css/tabs.css" />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand waves-effect waves-dark" href="Waste_management.html"><i class="large material-icons">track_changes</i> <strong>TrashTrackr</strong></a>
				
		<div id="sideNav" class="waves-effect waves-dark" href=""><i class="material-icons dp48">toc</i></div>
            </div>

            <ul class="nav navbar-top-links navbar-right"> 			
				<li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown2"><i class="fa fa-bell fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
				<li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i class="fa fa-user fa-fw"></i> <b>John Doe</b> <i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </nav>
		<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
<li><a href="#"><i class="fa fa-user fa-fw"></i> My Profile</a>
</li>
<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
</li> 
<li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
</li>
<li><a href="#"><i class="fa fa-upload fa-fw"></i> Server Rebooted</a>
</li>
</ul>
<ul id="dropdown2" class="dropdown-content w250">
  <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> 화재감지 발생
                                    <span class="pull-right text-muted small">4 min ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> 쓰레기통 봉투 교체 발생
                                    <span class="pull-right text-muted small">43 min ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> 쓰레기통 봉투 교체 발생
                                    <span class="pull-right text-muted small">4 hour ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> 화재 감지 발생
                                    <span class="pull-right text-muted small">14 day ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
</ul>
<!--nav top-->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="Waste_management.html" class="waves-effect waves-dark" ><i class="fa fa-desktop"></i>쓰레기통 관리</a>
                    </li>
                    <li>
                        <a href="Load_management.html" class="waves-effect waves-dark"><i class="fa fa-file"></i>적재량 관리</a>
                    </li>
                    <li>
                        <a href="Fire_detection.html"   class="waves-effect waves-dark"><i class="fa fa-edit"></i>화재감지</a>
                    </li>
                    <li>
                        <a href="Utilization_status.html" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i>이용현황<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="동별이용현황.html" class="active-menu waves-effect waves-dark">동 별 이용현황</a>
                            </li>
                            <li>
                                <a href="동내이용현황.html">동 내 이용현황</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!--nav side, 위치 설명-->
        <div id="page-wrapper">
            <div class="header"> 
                          <h1 class="page-header">
                              동 별 이용현황 
                          </h1>
                          <ol class="breadcrumb">
                        <li><a href="Waste_management.html">Home</a></li>
                        <li><a href="Utilization_status.html">이용현황</a></li>
                        <li><a href="동별이용현황.html">동별이용현황</a></li>
                      </ol> 
                                      
          </div>
          <div id="page-inner"> 
            <div class="row">
                <div class="col-lg-6">
                    <div id="tab_box" class="tab_box">
                        <ul>
                            <li onclick="javascript:changeTab('1')";>
                            <a href="javascript:;">개인정보</a></li>
                            <li onclick="javascript:changeTab('2');"><a href=javascript:;>비밀번호</a></li>
                            <li onclick="javascript:changeTab('3')";><a href=javascript:;>회원탈퇴</a></li>
                        </ul>
                    </div>
                    <div class="sub_search_area">
                        <div class="sub_search_box">
                            <div id="addrTable">
                                <ul id="infoUI">
                                    <li>
                                        <dl>
                                            <dt class="tit">학번</dt>
                                            <dd class="cont">202135992</dd>
                                        </dl>
                                        <dl>
                                            <dt class="tit">성명</dt>
                                        </dl>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





           <!-- /. PAGE WRAPPER  -->
          </div>
       <!-- /. WRAPPER  -->
      <!-- JS Scripts-->
      <!-- jQuery Js -->
      <script src="assets/js/jquery-1.10.2.js"></script>
      
      <!-- Bootstrap Js -->
      <script src="assets/js/bootstrap.min.js"></script>
      
      <script src="assets/materialize/js/materialize.min.js"></script>
      
      <!-- Metis Menu Js -->
          <script src="assets/js/jquery.metisMenu.js"></script> 
      <!-- Custom Js -->
      <script src="/js/custom-scripts.js"></script> 
      <script src="/js/anseohyun.js"></script>
=========
      <script src="assets/js/custom-scripts.js"></script> 
      <script src="assets/js/anseohyun.js"></script>
      <script src="assets/js/tabs.js"></script>
      
   
  
</body>

</html>
