<div class="header">
	<h1 class="page-header">
		동별 이용현황
	</h1>
	<ol class="breadcrumb">
		<li><a href="Waste_management.html">Home</a></li>
		<li><a href="Utilization_status.html">이용현황</a></li>
		<li><a href="동별이용현황.html">동별이용현황</a></li>
	</ol>

</div>
<div id="page-inner">
	<div class="row">
		<div class="col-sm-6">
			<tbody>
				<tr>
					<th scope="row">
						<label>구 :
							<label><select name="gu" id="trash_gu" class="form-control input-sm">
								<option value="all">전체</option>
								<% for (let i=0; i<gu_list.length; i++) {%>
									<option value="<%= gu_list[i].gu_id %>" data-group="<%= gu_list[i].gu_id %>"><%= gu_list[i].gu %></option>
								<%} %>
							</select></label>
						</label>
					</th>
					<th scope="row">
						<label><input type="date" id="start"></label>
						<span> ~ </span>
						<label><input type="date" id="end"></label>
					</th>
				</tr>
			</tbody>
			<button type="button" class="btn btn-primary color-bottom" onclick="updateBinsG()">조회</button>

		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-sm-6">
			<div class="card">
				<div class="card-action">
					<span id="gu1">분당구</span> 내 쓰레기통 교체 수 상위5
				</div>
				<div class="card-content">
					<ul class="collapsible" data-collapsible="accordion" id="top">
						<li>
							<div class="collapsible-header">TOP1 구미동 평균 15,200회</div>
							<div class="collapsible-header">TOP2 궁내동 평균 15,002회</div>
							<div class="collapsible-header">TOP3 금곡동 평균 14,874회</div>
							<div class="collapsible-header">TOP4 백현동 평균 12,291회</div>
							<div class="collapsible-header">TOP5 도촌동 평균 12,200회</div>
						</li>
					</ul>
				</div>

				<div class="card-action">
					<span id="gu2">분당구</span> 내 쓰레기통 교체 수 하위5
				</div>
				<div class="card-content">
					<ul class="collapsible" data-collapsible="accordion" id="btm">
						<li>
							<div class="collapsible-header">TOP1 삼평동 평균 5,234회</div>
							<div class="collapsible-header">TOP2 서현동 평균 5,300회</div>
							<div class="collapsible-header">TOP3 수내동 평균 5,903회</div>
							<div class="collapsible-header">TOP4 야탑동 평균 6,219회</div>
							<div class="collapsible-header">TOP5 율동 평균 6,298회</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="card">
				<div class="card-action">
					동 이름
				</div>
				<div class="card-content">
					<canvas id="cvs" style="width: 80%;"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/anseohyun.js"></script>
<script src="/js/date.js"></script>